<div id=<%="saved-job-#{job.id}"%> >
  <h3><%= link_to job.position, job.url, target: "_blank" %></h3>
  <h4><%= job.company %></h4>
  <p><%= job.location %></p>
  <p>Posted: <%= job.date_posted %></p>
  <p>You saved this when you searched for: <%= job.original_search_term %></p>
  <%= link_to "/jobs/#{job.id}", method: :delete, remote: true do %>
    <button class="forget">Forget</button>
  <% end %>
</div>
