<article class="post" id=<%="saved-job-#{job.id}"%> >
    <div class="job post-preview col-xs-10 no-gutter">
    <h2 class="job-title"><a target="_blank" href="<%=job.url%>"><%= job.position %></a></h2>
    <h4 class="job-company"><%= job.company %></h4>
    <p class="meta job-location"><%= job.location %>
    <i class="link-spacer"></i> <i class="fa fa-bookmark"></i> Posted on <%= job.date_posted %></p>
    <p class="meta">You saved this when you searched for: <%= job.original_search_term %></p>
    <br>
    <%= link_to "/jobs/#{job.id}", method: :delete, remote: true do %>
      <div class=" col-xs-2 no-gutter"><button class="forget btn btn-primary btn-circle"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button></div>
    <% end %>
  </div>
</article>
