<div id=<%="saved-job-#{job.id}"%> >
  <h3><%= link_to job.position, job.url %></h3>
  <h4><%= job.company %></h4>
  <p><%= job.location %></p>
  <p>Posted: <%= job.date_posted %></p>
  <br>
  <%= link_to "/jobs/#{job.id}", method: :delete, remote: true  do %>
    <button>Forget</button>
  <% end %>
</div>
