<%= form_for user do |f| %>
  <%= f.text_field :username, class: "form-control", placeholder:"Enter username", required: true %>
  <%= f.text_field :name, class: "form-control", placeholder:"Enter name", required: true %>
  <%= f.text_field :email, class: "form-control", placeholder:"Enter email", required: true %>
  <%= f.password_field :password, class: "form-control", placeholder:"Enter password", required: true %>
  <%= f.password_field :password_confirmation, class: "form-control", placeholder:"Confirm password", required: true %>
  <%= f.submit "Create Your Account" %>
<% end %>

<!--
<form id="job-search">
  <fieldset class="form-group">
    <input type="text" class="form-control" id="skill" placeholder="Enter skill, e.g. Ruby, Python">
  </fieldset>
  <fieldset class="form-group">
    <input type="text" class="form-control" id="zip" placeholder="Enter zipcode">
  <input type="submit" value="Find a job!">
</form> -->
